Source: ros-rolling-automatika-ros-sugar
Section: misc
Priority: optional
Maintainer: Automatika Robotics <contact@automatikarobotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-jinja2, python3-msgpack, python3-numpy, python3-opencv, ros-rolling-ament-cmake, ros-rolling-ament-cmake-python, ros-rolling-builtin-interfaces, ros-rolling-geometry-msgs, ros-rolling-lifecycle-msgs, ros-rolling-nav-msgs, ros-rolling-rclcpp, ros-rolling-rclpy, ros-rolling-rosidl-default-generators, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-tf2-ros, ros-rolling-ros-workspace, ros-rolling-rosidl-typesupport-fastrtps-c, ros-rolling-rosidl-typesupport-fastrtps-cpp
Homepage: https://github.com/automatika/ros-sugar
Standards-Version: 3.9.2

Package: ros-rolling-automatika-ros-sugar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-jinja2, python3-msgpack, python3-numpy, python3-opencv, ros-rolling-builtin-interfaces, ros-rolling-geometry-msgs, ros-rolling-lifecycle-msgs, ros-rolling-nav-msgs, ros-rolling-rclcpp, ros-rolling-rclpy, ros-rolling-rosidl-default-runtime, ros-rolling-sensor-msgs, ros-rolling-std-msgs, ros-rolling-tf2-ros, ros-rolling-ros-workspace
Description: Syntactic sugar for ROS2 nodes creation and management
