Source: ros-lyrical-automatika-ros-sugar
Section: misc
Priority: optional
Maintainer: Automatika Robotics <contact@automatikarobotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-attr, python3-jinja2, python3-msgpack, python3-msgpack-numpy, python3-numpy, python3-opencv, python3-pytest <!nocheck>, python3-setproctitle, python3-toml, python3-yaml, ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-pytest <!nocheck>, ros-lyrical-ament-cmake-python, ros-lyrical-ament-index-python <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-builtin-interfaces, ros-lyrical-geometry-msgs, ros-lyrical-launch <!nocheck>, ros-lyrical-launch-testing <!nocheck>, ros-lyrical-lifecycle-msgs, ros-lyrical-nav-msgs, ros-lyrical-rclcpp, ros-lyrical-rclpy, ros-lyrical-rosidl-default-generators, ros-lyrical-sensor-msgs, ros-lyrical-std-msgs, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://github.com/automatika-robotics/sugarcoat
Standards-Version: 3.9.2

Package: ros-lyrical-automatika-ros-sugar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-attr, python3-jinja2, python3-msgpack, python3-msgpack-numpy, python3-numpy, python3-opencv, python3-setproctitle, python3-toml, python3-yaml, ros-lyrical-builtin-interfaces, ros-lyrical-geometry-msgs, ros-lyrical-lifecycle-msgs, ros-lyrical-nav-msgs, ros-lyrical-rclcpp, ros-lyrical-rclpy, ros-lyrical-rosidl-default-runtime, ros-lyrical-sensor-msgs, ros-lyrical-std-msgs, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace
Description: Syntactic sugar for ROS2 nodes creation and management
